<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>familyName</key>
  <string>UM Sans 2 Manual</string>
  <key>styleName</key>
  <string>Display Bold Alpha 7</string>
  <key>unitsPerEm</key>
  <integer>1000</integer>
  <key>ascender</key>
  <integer>780</integer>
  <key>descender</key>
  <integer>-220</integer>
  <key>capHeight</key>
  <integer>720</integer>
  <key>xHeight</key>
  <integer>540</integer>
  <key>openTypeOS2WeightClass</key>
  <integer>700</integer>
  <key>openTypeOS2WidthClass</key>
  <integer>5</integer>
  <key>versionMajor</key>
  <integer>0</integer>
  <key>versionMinor</key>
  <integer>800</integer>
  <key>note</key>
  <string>Independent manual Alpha 7 control redraw. Not approved for production or distribution.</string>
</dict>
</plist>
