<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.glyphOrder</key>
    <array>
      <string>acutecomb</string>
      <string>O</string>
      <string>.notdef</string>
      <string>F</string>
      <string>f</string>
      <string>b</string>
      <string>a</string>
      <string>oacute</string>
      <string>H</string>
      <string>p</string>
      <string>t</string>
      <string>i</string>
      <string>nbspace</string>
      <string>u</string>
      <string>c</string>
      <string>d</string>
      <string>space</string>
      <string>n</string>
      <string>o</string>
      <string>l</string>
      <string>period</string>
      <string>r</string>
      <string>e</string>
      <string>comma</string>
      <string>s</string>
    </array>
  </dict>
</plist>
